@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 72px;

    --background: 0 0% 100%;
    --foreground: 240 15.29% 15.88%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 173.41 80.39% 40%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 240 5.2% 33.92%;

    --accent: 207 30% 92.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 173.41 80.39% 40%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 231.43 9.86% 13.92%;
    --muted-foreground: 240 33.33% 94.12% / 70%;

    --accent: 221.2 11.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 18%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-muted-foreground font-base;
  }
  h1,h2,h3 {
    @apply text-foreground;
  }
  h1 {
    @apply text-4xl font-semibold tracking-wide md:text-[40px] pb-6;
  }
  h2 {
    @apply text-2xl font-medium;
  }
  h3 {
    @apply font-medium pb-4 tracking-wide;
  }
  p {
    @apply text-muted-foreground;
  }
  section {
    @apply pb-16;
  }
  h2:where(section > *) {
    @apply pt-2 pb-8;
  }
}
